# Reboot - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [1]:
country = "Mauritius"

Create an `animal` variable and assign your favorite animal to it. Print it

In [2]:
animal = "cat"

Create an `animal_count` variable with any positive integer in it. Print it

In [4]:
animal_count = 12
animal_count

12

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [5]:
f"I just ordered {animal_count} {animal}s from {country}"

'I just ordered 12 cats from Mauritius'

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [6]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [7]:
pi_type = float
food_type = str
colors_type = list

In [8]:
type(pi) == pi_type \
and type(food) == food_type \
and type(colors) == colors_type

True

Let's try to work with other data types. This time there's no hint.

In [9]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [10]:
user_profile_type = dict
shapes_type = tuple
age_valid_type = bool

In [11]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

True

In [12]:
my_list = [1,2,3,3,3,4]
my_list

[1, 2, 3, 3, 3, 4]

In [15]:
# Comment se débarrasser des doublons ?
list(set(my_list))

[1, 2, 3, 4]

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [21]:
def credit_card_industry(number):
    if number.startswith("1"):
        return "Airline"
    if number.startswith("2") or number.startswith("5"):
        return "Mastercard"
    if number.startswith("3"):
        return "American express"
    if number.startswith("4"):
        return "Visa"
    else:
        return "Unknown"

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [18]:
credit_card_industry("4539 0132 4843 4768")

'Visa'

In [19]:
credit_card_industry("5131 9376 6800 4058")

'Mastercard'

In [22]:
credit_card_industry("8131 9376 6800 4058")

'Unknown'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [23]:
genres = ["horror", "action", "comedy"]
genres

['horror', 'action', 'comedy']

Add another genre to the list. Print the whole list.

In [35]:
genres.append("romance")
genres

['Adventure', 'adventure', 'comedy', 'horror', 'romance']

In [26]:
genres.pop()

'Romance'

In [36]:
genres

['Adventure', 'adventure', 'comedy', 'horror', 'romance']

Change the name of the second genre on the list. Print the whole list

In [37]:
genres[1]= "adventure"

In [39]:
genres.remove("Adventure")
genres

['adventure', 'comedy', 'horror', 'romance']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [40]:
genres = sorted(genres)
for i,genre in enumerate(genres):
    print(f"{i+1} - {genre.capitalize()}")

1 - Adventure
2 - Comedy
3 - Horror
4 - Romance

In [ ]:
# YOUR CODE HERE

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [41]:
movie = {"title": "Watchmen", "year": 2009}
movie

{'title': 'Watchmen', 'year': 2009}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [42]:
movie['director'] = "Zack Snyder"
movie

{'title': 'Watchmen', 'year': 2009, 'director': 'Zack Snyder'}

Create a `movies` variable and initialize it with an empty list.

In [43]:
movies = []
movies

[]

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [44]:
movies.append(movie)
movies

[{'title': 'Watchmen', 'year': 2009, 'director': 'Zack Snyder'}]

In [45]:
movie2 = {"title": "Terminator", "year": 1984, "director": "James Cameron"}
movies.append(movie2)
movies

[{'title': 'Watchmen', 'year': 2009, 'director': 'Zack Snyder'},
 {'title': 'Terminator', 'year': 1984, 'director': 'James Cameron'}]

In [46]:
movie2 = {"title": "Godfather", "year": 1972, "director": "Francis Ford Coppola"}
movies.append(movie2)
movies

[{'title': 'Watchmen', 'year': 2009, 'director': 'Zack Snyder'},
 {'title': 'Terminator', 'year': 1984, 'director': 'James Cameron'},
 {'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppola'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppola was released in 1972
The Matrix by The Wachowskis was released in 1999
```

In [49]:
movie3 = {"title": "The Matrix", "year": 1999, "director": "The Watchowskis"}
movies.append(movie3)
movies

[{'title': 'Watchmen', 'year': 2009, 'director': 'Zack Snyder'},
 {'title': 'Terminator', 'year': 1984, 'director': 'James Cameron'},
 {'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppola'},
 {'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppola'},
 {'title': 'The Matrix', 'year': 1999, 'director': 'The Watchowskis'}]

In [50]:
del movies[2]
movies

[{'title': 'Watchmen', 'year': 2009, 'director': 'Zack Snyder'},
 {'title': 'Terminator', 'year': 1984, 'director': 'James Cameron'},
 {'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppola'},
 {'title': 'The Matrix', 'year': 1999, 'director': 'The Watchowskis'}]

In [51]:
for movie in movies:
    print(f"{movie['title']} by {movie['director']} was released in {movie['year']}")

Watchmen by Zack Snyder was released in 2009
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppola was released in 1972
The Matrix by The Watchowskis was released in 1999

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

In [52]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [53]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [55]:
movie['title']['en']

'The Dark Knight'

What does `movie['actors']['support'][2]` return?

In [57]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [58]:
lead = movie['actors']['lead']
support = movie['actors']['support']
actors = lead + support
actors

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

Try to calculate the total box office of the movie from `movie`

In [59]:
movie['box office USD']['USA'] + movie['box office USD']['rest_of_world']

1004934033

In [60]:
# Autre façon de calculer:
sum(movie['box office USD'].values())

1004934033

How can we calculate the box office sum across all the regions below?

In [62]:
# Pour info:
535_234_033 == 535234033

True

In [63]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

In [64]:
sum(box_office.values())

395000000